body{
  background-image: url("../images/background_image2.jpg");
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  color: mediumvioletred;
  text-align: center;
}
img{
  float: left;
  padding: 20px;
}
.sidebar {
  width: 240px;
  float: left;
  background-color: blanchedalmond;
  padding: 10px;
}
#profile_brief{
  font-size: small;
}
.column_one{
  border-width:10;
  float:  left;
   
}