body{
  background-image: url("../images/background_image2.jpg");
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  color: mediumvioletred;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 50px;
}
img{
  float: left;
  padding: 20px;
}
.sidebar {
  width: 240px;
  float: left;
  background-color: blanchedalmond;
  padding: 10px;
  border: 2px solid skyblue;
}
#profile_brief{
  font-size: small;
}
.column_one{
  border-width:10;
  float:  left; 
}
.right{
  background-image: url("../images/Bulbs.JPG");
  background-repeat: no-repeat;
  float: left;
  padding: 10px;
  margin-left: 10px;
  font-family: 'Margarine', cursive; 
}

.right ul{
  list-style: none;
  align: left;
  font-family: 'Charm', cursive;
 }
li{
  line-height: 2;
}
.footer li{
  line-height: 2;
  background-color: maroon
}

li a {
  display: block;
  color:blue;
  text-align: left;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

.top{
  background-image: url("../images/background_image5.jpg");
  background-size: cover;
}

.icon{
  width: 40px;
  height: 30px;
}
.footer{
  background-color: black;
  color: white;
  text-align: center;
}
.contact{
  display: flex;
  justify-content:left;
  align-items: center;
  margin-left: 0px;
}
.right li{
  margin-left: 0px;
  background-color: aquamarine;
}
.p li{
  color:lightgreen;
  text-align: left;
  text-decoration: none;
}