body{
  background-image: url("../images/travel_agency3.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
p{
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  

}

li {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  margin-right: 50px;
  margin-left: 20px;
}

li a {
  
  color: blue;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.tropical h2{
  color: #f7325e;
  color: #7dc410;
  font-family: fantasy;
}
.popular h2{
  background-color: gold;
}